
<!-- <app-root> </app-root> -->
 <p>This is app component html</p>
<!-- <div>
  
  <app-courses-list></app-courses-list>
  <app-course-detail></app-course-detail>
</div> -->
  <nav>
    <a routerLink="/courses" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Courses</a>
    <a routerLink="/courses/1" routerLinkActive="active">Course Details</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/signup" routerLinkActive="Employee Sign up">Employee Sign Up</a>
    <a routerLink="/viewEmployees" routerLinkActive="View Employee">View Employee</a>    
    <a routerLink="/admin" routerLinkActive="View Employee">Admin</a>
   
  </nav>

  <router-outlet /> 


<!--</app-root> -->
