

    
    <div>
        
        <p>Appointment-list works!</p>
        <p>
            Appointment Title
            <input [(ngModel)]= "appointmentTitle"  placeholder="Appointmnet Title">  
        </p>
        <p>
            Appointment Name
            <input [(ngModel)]= "appointmentName"  placeholder="Appointmnet Name">  
        </p> 
        <p> 
            Appointment Date
            <!-- <input type="date" [value]="appointment.date | date:'yyyy-MM-dd'"> -->
            <input [(ngModel)]="selectedDate" type="date" id="date" name="selectedDate" />
        </p>
        <!-- <input [(ngModel)]= "appointmentDate" type="date" placeholder="AppointmnetDate">-->
        <br/>
        <button (click)="addAppointment()">Add</button>        
    
        <ul>
            <li *ngFor="let appointment of appointments">
                {{appointment.id}} {{appointment.title}} {{appointment.name}} {{appointment.date | date:'yyyy-MM-dd'}}
        
            </li>
        </ul>

    </div>
  



